:root {
  --main-color: #014F42;
}

body {
  margin: 0;
  font-family: 'PT Serif', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cooper BT', sans-serif !important;
}


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
