:root {
  --main-color: #004f42;
   /* Green (#004f42) & Dark green (#072b27) */
}

body {
  margin: 0;
  font-family: 'Cooper BT', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cooper BT', sans-serif !important;
}


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
